@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
	font-family: 'Montserrat', sans-serif, monospace;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #000;
		color: #FFF;
	}
}
